*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 182, 230);
    border: solid 2px;
    border-color: rgb(29, 62, 63);
    border-radius: 20px;
    width: 35%;
    height: 30%;
}

input{
    border-radius: 5px;
}

button{
    background-color: darkcyan;
    color: aliceblue;
    margin-bottom: 10px;
    text-align: center;
    width: 20%;
    height: 15%;
    border-radius: 999px;
}

p{
    margin-bottom: 5px;
}

img{
    margin-top: 10px;
    width: 500px;
    height: auto;
}